
@mixin shadow_box {
  box-shadow: 0px 2px  5px #606060;
}

$c1:  #cc2579;
$c1:  #aa2579;

$c2:  #999; /* main and sidebar menu headings */
$c3:  $c1*0.7;
$c4:  ($c1 *0.5) + ($c2 * 0.5); /* h3 headings */
$c5:  #222;
$c6:  #bbb;
$c7:  #2A88ff;
$c8:  #e0e0e0;
$c9:  #e2e2e2;
$c10: #888;
